
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="container"><h2>Dashboard </h2></div>
    <div id="exTab3" class="container">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#1b" data-toggle="tab">Overview</a>
            </li>
            <li>
                <a href="#2b" data-toggle="tab">Comments</a>
            </li>
            <li>
                <a href="#3b" data-toggle="tab">Videos/Channels</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1b">
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">14</span> Channels: </li>
                    <li class="list-group-item"><span class="badge">4</span> Videos: </li>
                    <li class="list-group-item"><span class="badge">10</span> Subscriptions: </li>
                </ul>
             </div><!--Overview-->

            <div class="tab-pane" id="2b">
                <table class="table">
                    <tr class="row comments" id="comments">
                        <td class="col-md-4">Comment</td>
                        <td class="col-md-2">Commented On</td>
                        <td class="col-md-2">Commented by</td>
                        <td class="col-md-2">Approve</td>
                        <td class="col-md-2">Reject</td>
                    </tr>
                    <tr class="row">
                        <td class="col-md-4">Here is the first comment</td>
                        <td class="col-md-2">8/27/2016</td>
                        <td class="col-md-2">Pankaj</td>
                        <td class="col-md-2 glyphicon glyphicon-ok"></td>
                        <td class="col-md-2 glyphicon glyphicon-remove"></td>
                    </tr>
                </table><!--Comments-->
            </div>
            
            <div class="tab-pane" id="3b">
                <button type="submit" class="btn btn-primary">Add Video</button>
                <table class="table">
                    <tr class="row videos" id="videos">
                        <td class="col-md-3">Video</td>
                        <td class="col-md-3">Video Name</td>
                        <td class="col-md-3">Channel Name</td>
                        <td class="col-md-3">Delete Video</td>
                    </tr>
                    <tr class="row">
                        <td class="col-md-3"><img src="~/Content/images/video.png" width="50" height="50" /></td>
                        <td class="col-md-3">bhabhi teri behna ko mana</td>
                        <td class="col-md-3">Bollywood Gyan</td>
                        <td class="col-md-3 glyphicon glyphicon-trash"></td>
                    </tr>
                </table><!--Video/channels-->
            </div>
        </div>
    </div>
</div>

