@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <div class="row homevideos">
        <img src="~/Content/images/video.png" class="col-md-3 col-sm-2 col-xs-2 img-responsive" />
        <img src="~/Content/images/video.png" class="col-md-3 col-sm-2 col-xs-2 img-responsive" />
        <img src="~/Content/images/video.png" class="col-md-3 col-sm-2 col-xs-2 img-responsive" />
        <img src="~/Content/images/video.png" class="col-md-3 col-sm-2 col-xs-2 img-responsive" />
    </div><!--row 1-->

    <div class="row homevideos">
        <img src="~/Content/images/video.png" class="col-md-3 col-sm-2 col-xs-2 img-responsive" />
        <img src="~/Content/images/video.png" class="col-md-3 col-sm-2 col-xs-2 img-responsive" />
        <img src="~/Content/images/video.png" class="col-md-3 col-sm-2 col-xs-2 img-responsive" />
        <img src="~/Content/images/video.png" class="col-md-3 col-sm-2 col-xs-2 img-responsive" />
    </div><!--row 2-->


    <div class="row">

        <form class="form-inline col-md-8">
            <button type="submit" class="btn btn-success col-md-12 col-md-12 upgrade">Upgrade</button>
        </form>

        <form class="form-inline col-md-4 subscriptionform">
            <div class="form-group">
                <input type="email" class="form-control" id="emailsubscription" placeholder="Enter your Email">
            </div>
            <button type="submit" class="btn btn-primary subscribebutton">Subscribe</button>
        </form>

        
    </div><!--row-->

    <div class="row col-md-12">
        
    </div>
</div>
    